html{
    font-size: 16px;
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
body{
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 0;
}
.encabezado{
    padding-top: 5px;
    background: #B76935;
}
.encabezado h1{
    display: inline-block;
    color: #ffffff;
    padding-top: 30px;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: left;
}
.encabezado img{
    height: 80px;
    width: 120px;
    margin-left: 600px;
    display: inline;
}
.menu ul{
    margin-left: 30%;
}
.menu li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
}
footer{
    padding-top: 1px;
    padding-bottom: 3px;
    background: #143642;
}
.menu1 li{
    margin-left: 30px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.60rem;
}
.menu1 li a{
    color: #ffffff;
    text-decoration: none;
}