html{
    font-size: 16px;
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
body{
    width: auto;
    height: auto;
    background: #eec490;
    margin: 0;
    margin-top: 0;
}
.encabezado{
    padding-top: 5px;
    background: #B76935;
}
.encabezado h1{
    color: #ffffff;
    padding-top: 30px;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: left;
}
.menu ul{
    margin-left: 35%;
}
.menu li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
}

main{
    display: block;
}
.receta{
    background: #ebe2d9;
    width: 700px;
    margin-left: 350px;
    padding-top: 3px;
}
.receta1{
    background: #eedac4;
    width: 700px;
    margin-left: 350px;
    padding-top: 3px;
}
.subtitulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #222222;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 15;
    margin-left: 1.25%;
    text-align: center;
}
img{
    margin-left: 15%;
    width: 70%;
    height: 70%;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    color: #222222;
    text-align: center;
}
li{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 15;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
}
video{
    margin-left: 10%;
    width: 80%;
    height: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}
iframe{
    margin-left: 30%;
    width: 40%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.formulario{
    border: 0;
    display: block;
    margin-left: 35%;
    margin-right: 35%;
}
.formulario label{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 15;
    color: #222222;
}
footer{
    padding-top: 1px;
    padding-bottom: 3px;
    background: #143642;
}
.menu1 li{
    margin-left: 30px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.60rem;
}
.menu1 li a{
    color: #ffffff;
    text-decoration: none;
}